.banner{
    display:block;
    margin:0 auto;
    width: 500px;
    height: 20px;
    
}

.title{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.perasha{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}